#records {
  height: 100vh;
  width: 50vw;
  background: linear-gradient(45deg, #313131 0%, #17141b 100%);
  overflow: hidden scroll;
  word-break: break-all;
  filter: drop-shadow(#111 1px 3px 10px);
}
#records h2 {
  color: #fff;
  padding: 0.4em 2.3em;
  text-align: center;
}
#records table {
  overflow: scroll;
  width: 85%;
  border-spacing: 0.2em;
  margin: 0 3em;
}
#records table th {
  color: #111;
  font-size: 1.1em;
  background-image: linear-gradient(90deg, #fff, rgb(233, 226, 255));
  padding: 1em;
  border-radius: 0.3em;
  filter: drop-shadow(rgb(0, 0, 0) 1px 3px 10px);
  text-decoration: underline;
  overflow: hidden;
  text-shadow: #fff 2px 0, #fff -2px 0, #fff 0 2px, #fff 0 -2px;
  word-break: keep-all;
}
#records p{
  text-align: center;
  color:rgb(196, 196, 196)
}
#records table tr {
  text-align: center;
}
#records table td {
  padding: 0.2em 0.5em;
  border-radius: 0.5em;
  filter: drop-shadow(#111 1px 3px 10px);
}

#records table td:nth-child(3) {
  text-align: right;
}

#records table tr:nth-child(even) td {
  background-image: linear-gradient(90deg, rgb(76, 0, 255), rgb(109, 56, 233));
  color: #fff;
}
#records table tr:nth-child(odd) td {
  background-image: linear-gradient(
    90deg,
    rgb(238, 208, 255),
    rgb(255, 255, 255)
  );
  color: #111;
}

@media screen and (max-width: 768px) {
  #records table {
    max-height: 80vh;
    overflow: scroll hidden;
    width: 100%;
    border-spacing: 0.2em;
    margin: 0;
  }
  #records {
    width: 100vw;
    height: auto;
  }
  #records h2 {
    text-align: center;
  }
}

#records table th::after {
  content: attr(data-icon);
  position: absolute;
  font-size: 3em;
  bottom: -25%;
  right: 0%;
  z-index: -1;
}
