.app {
  height: 100vh;
}
#status {
  padding: 0.5em 0;
  text-align: center;
  color: #fff;
}
#status span {
  background: -webkit-linear-gradient(90deg, #bd47ec 0%, #7500fb 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 5px 8px #000) saturate(.6);
}
