.App {
  min-height: 100vh;
}
#status {
  padding: 0.5em 0;
  text-align: center;
  color: #fff;
}
#status span {
  background: -webkit-linear-gradient(90deg, #bd47ec 0%, #7500fb 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 5px 8px #000) saturate(0.6);
}

#secondSection {
  display: flex;
}
@media screen and (max-width: 768px) {
  #secondSection {
    flex-direction: column;
  }
}


#anchor{
  text-align: center;
  padding: 1em;
  color: #fff;
  font-size: 1.3em;
}
#anchor p span{
  color: rgb(255, 0, 21);
  font-weight: bolder;
}
#anchor p a{
  color:#fff;
}