#controls .state_controls {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1em;
}
.control_button {
  border-radius: 25%;
  height: 5.6em;
  width: 5.6em;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 5px 8px rgba(0, 0, 0, 0.582));
  cursor: pointer;
  overflow: hidden;
  transition: height 0.3s, width 0.3s;
}
.control_button img {
  height: 3em;
  transition: filter 0.2s ease-in-out;
}
.control_button:hover img {
  filter: hue-rotate(90deg);
  transition: filter 0.2s ease-in-out;
}
.control_button.big {
  height: 8.6em;
  width: 8.6em;
}
.control_button.big img {
  height: 5em;
}

.actions {
  margin-top: 0.5em;
  display: flex;
  column-gap: 0.5em;
  align-items: center;
  justify-content: center;
}

.actions .control_button {
  transform: scale(0.9);
}

.control_button.active {
  background: linear-gradient(90deg, rgb(143, 0, 179), rgb(91, 0, 177));
}
.control_button.active img {
  filter: brightness(400);
}
