*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Righteous', cursive;
  transition: all 0.3s ease-in-out;
}
html{
  scroll-behavior: smooth;
}
body {
  background-color: #323739;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
header {
  padding: 1em;
  position: relative;
  height: 10vh;
}
header .logo {
  height: 4em;
  width: auto;
}

.App .background_wave_abstract {
  position: absolute;
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(3.5);
  z-index: -5;
}